body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1450px;
}

.signup-container {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  background-color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  border-radius: 10px;
}




.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff9442; 
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  /* border-radius: 10px; */
}

.form-group label {
  width: 100px;
  margin-right: 10px;
  font-weight: bold;
  color: #ff9442; 
}

.form-group input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ff9442;
  border-radius: 4px;
  background-color: wheat; 
  color: #000000; }

.form-group input::placeholder {
  color: #888888; 
}
.sp{
  padding-top: 10px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.signup-button {
  padding: 10px 10px;
  background-color: #ff9442; 
  color: rgb(0, 0, 0);
  font-size:medium;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: #f7f7f7;
}
